.card1 {
	width: 345px;
	height: 400px;
	background-color: rgba(7, 7, 32, 0.904) !important;
	border: 1px solid rgb(20, 7, 94);
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgb(18, 18, 202) !important;
	color: rgba(235, 233, 233, 0.952)!important;
	
	
}
/* 
.button {
	background-color: rgba(104, 9, 9, 0.644) !important;
	
} */
