* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	background-image: linear-gradient(rgba(2, 2, 15, 0.623), rgba(26, 26, 11, 0.822)), url(https://res.cloudinary.com/dn3csswh5/image/upload/v1678728549/27bff8508a6970b5148fc28d1b9fea91_q7krfg.jpg);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
